fastapi>=0.99.1
uvicorn==0.15.0
requests==2.26.0
python-dotenv==0.19.2
nltk==3.6.3
pymupdf==1.19.0
fastapi-cors==0.0.6
networkx==2.6.3
pydantic==1.8.2
fastapi_redis_cache
aioredis
redis==5.2.1

